/* Estilos generales de la sección de servicios */
.all-services-section {
    background-color: #4F4D49; /* Fondo negro */
    padding: 20px; /* Padding interno */
    border-radius: 8px; /* Bordes redondeados */
    margin:  30px auto; /* Espacio superior */
    min-height: calc(100vh - 60px); /* Asegura que la sección ocupe toda la pantalla */
}

h2{
    color: #AC8936;
    margin-bottom: 20px;
}

.all-services-main {
    text-align: center;
    margin-bottom: 20px;
}

.all-services-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilos de las tarjetas de servicios */
.service-item {
    text-align: center;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    flex: 1; /* Asegura que las tarjetas ocupen el mismo espacio */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.service-item:hover {
    transform: scale(1.05);
}

.service-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

/* Estilos personalizados para el modal */
.custom-modal .modal-content {
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #AC8936;
}

.custom-modal .modal-header {
    background-color: #AC8936;
    color: #fff;
    border-bottom: 1px solid #AC8936;
}

.custom-modal .modal-body {
    padding: 20px;
    max-height: 60vh;
    overflow-y: auto;
}

.custom-modal .modal-footer {
    border-top: 1px solid #AC8936;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

.custom-modal .btn-secondary {
    background-color: #4F4D49;
    border-color: #4F4D49;
}

.custom-modal .btn-secondary:hover {
    background-color: #333;
    border-color: #333;
}

/* Estilos para las imágenes y texto dentro del modal */
.custom-modal .modal-body img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

.custom-modal .modal-body p {
    margin-bottom: 20px;
    text-align: justify;
}

.custom-modal .modal-body .color-item {
    text-align: center;
}

.custom-modal .modal-body .color-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 8px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .custom-modal .modal-dialog {
        max-width: 90%;
    }

    .custom-modal .modal-body .col {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .custom-modal .modal-body img {
        margin-bottom: 15px;
    }

    .custom-modal .modal-body p {
        margin-bottom: 15px;
    }
}

/* Estilos para la barra de búsqueda */
.all-services-search-bar {
    background-color: #fff; /* Fondo avena */
    color: #4F4D49; /* Texto negro */
    border: 1px solid #AC8936; /* Borde dorado */
    border-radius: 4px; /* Bordes redondeados */
    padding: 10px; /* Padding interno */
    width: 100%; /* Ancho completo */
    margin-bottom: 20px; /* Espacio inferior */
}

.all-services-search-bar::placeholder {
    color: #4F4D49; /* Color del placeholder */
}

/* Estilos para autocompletado/sugerencias */
.suggestions-container {
    position: relative;
    width: 100%; /* Asegura que el contenedor ocupe el mismo ancho que la barra de búsqueda */
}

.suggestions-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #AC8936; /* Borde dorado */
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    top: 100%; /* Coloca la lista debajo de la barra de búsqueda */
    left: 0;
    right: 0;
    background-color: #D7D0C5; /* Fondo avena */
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para un mejor aspecto */
}

.suggestion-item {
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #4F4D49; /* Texto negro */
}

.suggestion-item:hover {
    background-color: #f8f9fa; /* Fondo gris claro al hacer hover */
}

/* Estilos para el mensaje de "No se encontraron trabajos" */
.no-results-message {
    color: #4F4D49; /* Color del texto */
    font-size: 1.2rem; /* Tamaño de la fuente */
    font-weight: bold; /* Texto en negrita */
    margin-top: 20px; /* Espacio superior */
    padding: 20px; /* Padding interno */
    background-color: #D7D0C5; /* Fondo avena */
    border-radius: 8px; /* Bordes redondeados */
    border: 1px solid #AC8936; /* Borde dorado */
}