/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D7D0C5; /* Fondo blanco avena */
    color: #4F4D49; /* Letras negras */
}

/* Sección Home */
.home-section {
    padding: 20px;
    text-align: center;
    background-color: #D7D0C5; /* Fondo blanco avena */
}

.home-section .main-section {
    padding: 20px;
}

.home-section h1 {
    font-size: 2.5em;
    color: #4F4D49; /* Letras negras */
}

.home-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #4F4D49; /* Letras negras */
}

.home-section p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #4F4D49; /* Letras negras */
}

/* Galería */
.home-section .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.home-section .gallery img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
    border: 2px solid #AC8936; /* Dorado */
}

.home-section .gallery img:hover {
    transform: scale(1.1);
}

/* Pie de página */
footer {
    background-color: #4F4D49; /* Fondo negro */
    color: #D7D0C5; /* Letras avena */
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* Responsivo */
@media (max-width: 768px) {
    .home-section h1 {
        font-size: 2em;
    }

    .home-section h2 {
        font-size: 1.5em;
    }

    .home-section p {
        font-size: 1em;
    }

    .home-section .gallery img {
        width: 100%;
        height: auto;
    }
}