.in-developing-section {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.in-developing-section h1 {
    color: #333;
    margin-bottom: 20px;
}

.in-developing-section p {
    color: #666;
}